@charset "UTF-8";
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  padding-top: 6px;
  background-color: footer-back;
}

.logo--padding {
  padding-top: 60px;
}

.logo__text--blue {
  color: var(--link-collor);
}

.logo__text--white {
  color: var(--white-text-collor);
}

/* физический адресс */
.adress-field__link {
  display: inline-block;
  margin-top: 20px;
}

.adress-field__link {
  /* display: block; */
  color: var(--white-text-collor);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* outline: 1px solid #008000; */
}

.adress-field__map {
  margin-top: 20px;
  margin-bottom: 0px;
}

.address-field__nav-field--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 9px;
}

.nav-field__link:hover,
.nav-field__link:focus {
  color: var(--link-collor);
}

.nav-field__link--littlepadding {
  /* display: block; */
  padding-top: 9px;
  padding-bottom: 9px;
  -webkit-transition: var(--transition-color);
  transition: var(--transition-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}

/* футер бокс:присоединяйся и соц сети */
.sociall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sociall__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

/* .footer-sociall {
  margin-left: 70px;
} */
.sociall__title {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-collor);
}

.sociall__item {
  width: 44px;
  height: 44px;
}

.sociall__item:not(:first-child) {
  margin-left: 10px;
}

.sociall__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: var(--transition-background);
  transition: var(--transition-background);
  background-color: rgba(255, 255, 255, 0.1);
}

.sociall__link:hover,
.sociall__link:focus {
  background-color: var(--link-collor);
}

.sociall__icon {
  fill: var(--white-text-collor);
}

.sign-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* margin-left: auto ;
  margin-right: 0; */
}

.sign-group__title {
  /* display: flex; */
  /* position: absolute;
  top: 0px;
  right: 0; */
  margin-top: 72px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-collor);
  margin-bottom: 20px;
}

.sign-group__field {
  display: block;
  width: 358px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--footer-back);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.sign-group__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign-group__button {
  position: relative;
}

.sign-group__btn {
  width: 200px;
  height: 50px;
  background-color: var(--link-collor);
  cursor: pointer;
  margin-left: 12px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.sign-group__text {
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-collor);
}

.sign-group__icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--white-text-collor);
}/*# sourceMappingURL=footer.css.map */