@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  padding-top: 80px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid green */
}

textarea {
  outline: none;
}

input {
  outline: none;
}

link {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  /* color: white */
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:focus {
  outline: none;
}

.button:focus {
  outline: none;
  border: none;
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

/*  Логотип */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo__text--blue {
  color: #2196f3;
}
.logo__text--black {
  color: black;
}

/* Навигация по сайту */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* margin-left: 93px; */
  margin-top: 0px;
  margin-bottom: 0px;
}

.site-nav__item {
  margin-left: 50px;
}

/* .site-nav .item {
    outline: 1px solid greenyellow;
  } */
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  /* .site-nav .link-current{
    position: relative;
  } */
}
.site-nav__link__link:hover, .site-nav__link__link:focus {
  color: #2196f3;
}
.site-nav__link__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.site-nav__link {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #2196f3;
}

/* навигация мейл и телефон */
.nav-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-field__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav-field__item__item :hover, .nav-field__item__item:focus {
  color: #2196f3;
}

.nav-field__icon {
  /* display: block; */
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  /* fill: carrentColor; */
}

/* .nav-link {
    display: flex;
    align-content: center;
  } */
/* .nav-field__item:hover
  .nav-field__item:focus {
    color: $link-collor;
  } */
.nav-field__icon {
  fill: currentColor;
}

/* .item {
    outline: 1px solid #008000
  } */
/* .nav-links .item {
    outline: 1px solid green;
} */
.nav-field__item:not(:first-child) {
  margin-left: 50px;
}

.hero {
  text-align: center;
  background-color: #2f303a;
  /* outline: 2px solid green; */
  min-height: 600px;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img\5\.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img\5\.jpg);
  background-position: center;
  background-size: cover;
}

.hero__title {
  padding-top: 200px;
  margin-bottom: 30px;
  margin-top: 0px;
  /* outline: 1px solid green; */
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* кнопка заказа услуг */
.hero__button {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2196f3;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */